* {box-sizing: border-box;
}

#header {background-color:#000;
         position:sticky;     
}


.home {float:left;
       color:white;
       background-color:red;
       width:10%;
       text-align:center;
       padding:1%;
       border-bottom: 1px solid red;            
}
.headertext {color:white;
             text-align:center;
             width:90%;
             border: 1px solid black;          
}

.clearleft {clear:left;}


.infosection {             
}

.infotop {width:100%;
          background-color:skyblue;
          border: 1px solid skyblue;
          color:white;
          text-align:center;
          background-image:url(../images/blue-sky-with-white-soft-clouds_64749-3051.jpg);
          background-size:cover;
          background-repeat:no-repeat;
}

.infoleft {float:left;
           width:33.33%;
           height:400px;
           border:1px solid grey;
           text-align:center;
           background-color:rgb(50,150,255);
           color:white;

}

.infoleft p {font-size:150%;}

       

.clearleft {clear:left;}

.infomiddle {float:left;
             width:33.33%;
             height:400px;
             border:1px solid grey;
             text-align:center;
             background-color:rgb(50,150,255);
             color:white;          
             
            }

.infomiddle p {text-align:center;
               font-size:150%;
}


.inforight {float:left;
            width:33.33%;
            height:400px;
            border: 1px solid grey;
            text-align:center;
            background-color:rgb(50,150,255);
            color:white;
}

.inforight p {font-size:150%;}

body {
    font-family:sans-serif,helvetica;
    font-size:16px;
    background-repeat:no-repeat;
    margin:0;
}

h3 {font-weight:bolder;
    font-size:200%;
}




