* {box-sizing: border-box;
}

#header {background-color:#000;
         position:sticky;     
}


.home {float:left;
       color:white;
       background-color:red;
       width:10%;
       text-align:center;
       padding:5px;
       border-bottom: 1px solid red;            
}
.headertext {color:white;
             text-align:center;
             width:90%;
             border: 1px solid black;          
}

.clearleft {clear:left;}


.infosection {             
}

.infotop {width:100%;
          background-color:skyblue;
          border: 1px solid skyblue;
          color:white;
          text-align:center;
}

.infoleft {float:left;
           width:33.33%;
           padding:15% 0%;
           border:1px solid red;
           background-image:url(../images/bo-chen-arcane-jinx-detail01.jpg);
           background-size:cover;
           background-repeat:no-repeat;
        }
       
.inlineblock

.infomiddle {float:left;
             width:33.33%;
             padding: 15% 0%;
             border-right: 1px solid blue;             
}

.infomiddle h3 p {text-align:center;
}

.inforight {float:left;
            width:33.33%;
            padding:15% 0%;
            background-image:url(../images/150px-Blood_Moon_Jhin_WR_loading.jpg);
            border: 1px solid black;
}

body {
    font-family:sans-serif,helvetica;
    font-size:16px;
    background-repeat:no-repeat;
    margin:0;
}




