* {box-sizing: border-box;
}

#header {background-color:#000;     
}


.home {float:left;
       color:white;
       background-color:red;
       width:10%;
       text-align:center;
       padding:5px;
       border-bottom: 1px solid red;            
}
.headertext {color:white;
             text-align:center;
             width:90%;
             border: 1px solid black;          
}

body {
    font-family:sans-serif,helvetica;
    font-size:16px;
    background-repeat:no-repeat;
    margin:0;
}
